:root {
  --color-bg: #ffffff;
  --color-text-main: #212121;
  --color-text-header: #212121;
  --color-text-grey: #7f7f7f;

}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  background-color: var(--color-bg);
  margin: 0px;
}

.down-arrow {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
  color: #7f7f7f; 
  z-index: 10;
}


section {
  width: 100vw;
  height: 100vh;
}

.main-wrapper, .landing-wrapper{
  padding: 0px 100px;
}

.landing-content{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.header, .description {
  position: sticky;
  top: 20px;
  z-index: 1000;
}

.header {
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.bracket-links {
  display: flex;
  align-items: flex-start; 
}

.header h2,
.header a {
  margin-top: 0; 
  text-decoration: none;
  color: var(--color-text-main);
}

.header a p {
  line-height: 1;
}

.description {
  position: sticky;
  top: 90px;
  align-self: start; 
}

h1 {
  font-size: 60px;
  font-family: "parabolica", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.04em;
  color: var(--color-text-header);
}

#goToTop {
  cursor: pointer;
}

h2 {
  font-size: 40px;
  font-family: "parabolica", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.04em;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px; 
  row-gap: 10px;
}

.about{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px; 
  row-gap: 10px;
}

.footer {
  padding: 10px 0px;
}

.gallery img,
.gallery video,
.about img {
  width: 100%;
  height: auto;
}

h3 {
  text-transform: uppercase;
  display: inline;
  font-family: 'Geist', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
}

p, h4, #toggleBtn  {
  font-family: monospace, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 300;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}

h4, h4 a, #toggleBtn {
  text-decoration: none;
  color: var(--color-text-grey);
}

a:hover, #toggleBtn:hover, h2:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

#toggleBtn {
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  background:var(--color-bg);
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h2, #Thats-Right, #Im-Mike {
    font-size: 30px;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  h3 {
    font-size: 16px;
  }

  p, h4, #toggleBtn {
  font-size: 10px;
  }

  .asset-desc {
    display: none;
  }

  .main-wrapper, .landing-wrapper{
    padding: 0px 10px;
  }
}
