@import url("https://use.typekit.net/zso5nxd.css");

:root {
    --color-bg: #efefef;
    --color-text-main: #212121;
    --color-text-grey: #7f7f7f;
  
  }

  html {
    margin: 0;
    padding: 0;
  }
  
  [hidden] {
    display: none !important;
  }
  
  body {
    margin: 0px;
  } 
  
  h1 {
    font-size: 60px;
    font-family: "parabolica", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: -0.04em;
    color: var(--color-text-main);
  }
  
  h2, button {
    font-family: "parabolica", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-text-main);
  }

  p, h3 {
    color: var(--color-text-main);
    font-family: "parabolica-text", sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
  } 

  h3 {
    color: var(--color-text-grey);
  }

  button  {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  
  @media (max-width: 768px) {
    h1 {
      font-size: 48px;
    }
  }
  